# Database
DATABASE_URL="postgresql://user:password@localhost:5432/collectify?schema=public"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-here-change-in-production"

# Midtrans (Indonesian Payment)
MIDTRANS_SERVER_KEY="SB-Mid-server-..."
MIDTRANS_CLIENT_KEY="SB-Mid-client-..."
MIDTRANS_IS_PRODUCTION=false

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
